*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a.underline-hover-effect {
  text-decoration: none;
}

.underline-hover-effect {
  display: inline-block;
  padding-bottom: 0.25rem; /* defines the space between text and underline */
  position: relative;
}

.underline-hover-effect::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #f97444;
  transition: width 0.25s ease-out;
}
.underline-hover-effect:hover::before {
  width: 100%;
}

.mobile-navigation {
  display: none;
}

@media (max-width: 990px) {
  .navigation {
    display: none;
  }
  .mobile-navigation {
    display: flex;
    align-items: center;
  }
  .hamburger {
    position: absolute;
    top: 3%;
    right: 5%;
    cursor: pointer;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 12%;
    right: 0%;
    width: 100%;
    background: #032a5d;
    border-top: 2px solid #f97444;
  }
  ul {
    z-index: 1;
  }
  ul a {
    color: white;
  }
  ul a:hover {
    color: #f97444;
  }
  .contact-card {
    padding: 0px;
  }
}
