:root {
  --bg-color: white;
  --typewriterSpeed: 2.2s;
  --typewriterCharacters: 125;
}

ul li {
  display: inline-block;
  vertical-align: top;
  width: 45%;
}

li {
  padding: 10px 0;
}
.work-picture {
  position: relative;
  width: 425px;
  height: 315px;
  border: 3px solid #fefbec;
  margin: 10px;
}

.work-picture:hover {
  filter: blur(2px) brightness(60%);
  box-shadow: 0 0 16px #f97444;
}

.work-picture:hover ~ .picture-text {
  opacity: 1;
}
.picture-text:hover ~ .work-picture {
  filter: blur(2px) brightness(60%);
  box-shadow: 0 0 16px #f97444;
}

.work-picture:hover ~ .github-text {
  opacity: 1;
}

.work-picture:hover ~ .link-text {
  opacity: 1;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.picture-text {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.github-text {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.link-text {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.picture-text:hover {
  opacity: 1;
}
.github-text:hover {
  opacity: 1;
}
.link-text:hover {
  opacity: 1;
}

.type-writer {
  position: relative;
  position: relative;
  width: max-content;
}

.type-writer::before,
.type-writer::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.type-writer::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

.type-writer::after {
  width: 0.125em;
  background: #032a5d;
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards, blink 750ms steps(var(--typewriterCharacters)) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 863px) {
  .type-writer::after {
    opacity: 0;
  }
}
